<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.user.dao.extend.ConfigExtendMapper">
    <update id="updateConfigWithoutStatus">
        update base_config
        <set>

            <if test="configInfo != null">
                config_info = #{configInfo,jdbcType=VARCHAR},
            </if>
            <if test="configIcon != null">
                config_icon = #{configIcon,jdbcType=VARCHAR},
            </if>

        </set>
        where config_id = #{configId,jdbcType=INTEGER}
    </update>
    <select id="selectList" resultMap="com.briup.user.dao.ConfigMapper.BaseResultMap">
        select <include refid="com.briup.user.dao.ConfigMapper.Base_Column_List"/>
        from base_config
        where config_status = 1
    </select>
    <select id="selectByName" resultMap="com.briup.user.dao.ConfigMapper.BaseResultMap">
        select <include refid="com.briup.user.dao.ConfigMapper.Base_Column_List"/>
        from base_config
        where config_name = #{configName,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="com.briup.user.dao.ConfigMapper.BaseResultMap">
        select <include refid="com.briup.user.dao.ConfigMapper.Base_Column_List"/>
        from base_config
    </select>

</mapper>